/*---------------------------------------------------------------------------*\
    RESET
\*---------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------------------------------------------------------------------*\
    TYPE 
\*---------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 30px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4, h5, h6 {
  font-size: 20px;
}

p {
  line-height: 1.5em;
  margin-bottom: 27px;
}

a {
  color: #00e;
  text-decoration: none;
}

a:visited {
  color: #77f;
}

a:hover {
  text-decoration: underline;
}

a:active, a:focus {
  position: relative;
  top: 1px;
}

ul, ol {
  margin: 0 0 30px 20px;
  font-size: 1em;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

li {
  line-height: 1.5em;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
} 

/*---------------------------------------------------------------------------*\
    MAIN 
\*---------------------------------------------------------------------------*/
html {
  background-color: #fdfdfd;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  font-size: 18px;
  line-height: 27px;
  color: #191919;
}

div#content {
  width: 940px;
  margin: 0px auto;
  padding: 70px 10px 10px;
  overflow: auto;
}

div#main {
  float: left;
  width: 630px;
  padding: 0 5px;
}

div#sidebar {
  float: left;
  width: 240px;
  margin-left: 45px;
  padding: 0 5px;
}

div#sidebar ul#links {
  list-style-type: none;
  margin-left: 0
}

ul#links a {
  color: #00e;
}

.post h1 {
  margin-bottom: 10px;
}

#date {
  font-size: 16px;
  font-style: italic;
}

/*---------------------------------------------------------------------------*\
    HEADER 
\*---------------------------------------------------------------------------*/
#header {
  position: fixed;
  width: 100%;
  background-color: #191919;
  line-height: 40px;
}

#header div {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

#title {
  font-size: 24px;
  letter-spacing: 1px;
}

#title span {
  font-weight: bold;
}

#nav {
  position: absolute;
  top: 2px;
  right: 5px;
}

#nav li {
  display: inline;
}

#nav a:hover {
  text-decoration: underline;
}

a.navigation, .separator {
  color: #fff;
  text-decoration: none;
}

/*---------------------------------------------------------------------------*\
    MISC 
\*---------------------------------------------------------------------------*/
.accesibility {
  position: absolute;
  left: -9999px;
}
