html {
  min-height: 100%;
  background-color: #fdfdfd;
  border-top: 20px solid #f7f6eb;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 10px;
}

h1 {
  color: #ed6e64;
}

a {
  position: relative;
  text-decoration: none;
  color: #ed6e64;
}

a:hover {
  color: #dc5d53;
}

a:active {
  top: 1px;
}

.main {
  margin-top: 140px;
  font: 24px/36px "helvetica neue";
}

@media screen and (min-width: 595px) {
  html {
    border: 20px solid #f7f6eb;
  }

  body {
    width: 640px;
    margin: 0px auto;
  }
}
