<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/public/js/vendor/jquery-2.1.3.js"><\/script>')</script>
<script>
  <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
  (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
  })(document, window, '//fathom.edgarhenriquez.com/tracker.js', 'fathom');
  fathom('set', 'siteId', 'ISGLG');
  fathom('trackPageview');
  <!-- / Fathom -->
</script>
