<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Edgar Henríquez">


    <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/public/css/main.css" | prepend: site.baseurl }}">
  </head>

  <body class="{{ page.custom_class }}">

    <div class="wrapper">

      {{ content }}

    </div>

  </body>
</html>
