<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Edgar Henríquez">

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
</head>

<body>
  {% include header.html %}
  <div id="content">
     <div id="main" class="post">
       <h1>{{ page.title }}</h1>
       <p id="date">Entrada escrita el {{ page.date | date: "%d.%m.%y"}}<p>
       {{ content }}
     </div>
  </div>
  {% include analytics.html %}
</body>
</html>
