<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Edgar Henríquez">

  <link rel="stylesheet" href="/public/css/normalize.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <script src="/public/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <h1>{{ page.title }}</h1>
  <p>Written on {{ page.date | date: "%B %d, %Y" }}</p>
  {{ content }}
  <hr>
  <p>Last modified: {{ page.modified }}</p>
  {% include scripts.html %}
</body>
</html>
